.bottom{
    color:white;
    background-color:#192150;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 51px;
}
a .bottom:hover{
    text-decoration: underline;
}
.copa_update-div{
    position:absolute;
    inset:0px
}
.copa_update-date{
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border-radius: 30px;
    width: fit-content;
}
.copa_update-title{
    font-size: 18px;
    font-weight: bold;
    margin-top: -8px;
}
.image-div, .image-div:hover, .image-div:active, .image-div:visited, .image-div:focus {
    text-decoration:none;
}
@media screen and (min-width: 600px) and (max-width: 767px){
    .copa_update-title, .copa_update-date{
        font-size: 28px;
    }
}